<html>  
<head>
	<script type="text/javascript">
		function change_password(){
			pass=document.getElementById('pass').value;
			repass=document.getElementById('re-pass').value;
			var decimal=  /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/;
			if(pass!="" && repass!=""){
				if(pass==repass){
					if(pass.match(decimal)) 
					{ 						
						
					}else{ 
						alert('Invalid Password');
						return false;
					}
				}else{
					alert("Both password and Retype password must be same");
					return false;
				}
			}else{
				alert("Password fields must be filled");
				return false;
			}
			document.getElementById("account_cred").submit();
		}
	</script>
</head>
<body>  
	<form action = "http://localhost:5000/account_group" method = "post" id="account_cred" name="account_cred"> 
	<div style=" text-align:center;width:100%">
		<table id="demo" width="75%" border="0" cellpadding="15" cellspacing="0" style="border:1px solid #999;margin:0px auto;margin-top:50px; background-color:">
			<tr>
				<td>Account Group {{gid}} {{passwd}}</td>
				<td>
					<select name="group_account" onchange="this.form.submit()">
					<option value="">Select Account Group</option>
					{% for row in range(2, sheet.max_row + 1) %} 
					<option value="{{ sheet.cell(row, 1).value }}" {% if gid == sheet.cell(row, 1).value %} selected="selected" {% endif %}>{{ sheet.cell(row, 2).value }}</option>
					{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>Account {{glid}}</td>
				<td>
					<select name="group_account_list" onchange="this.form.submit()">
						<option value="">Select Account </option>
						<!-- For loop logic of jinja template -->
						{%for i in range(0, len)%}
						{% set item1, item2 = ulstr[i].split(',') %}
							<option value="{{item1}}" {% if glid == item1 %} selected="selected" {% endif %}>{{ item2}}</option>
						{%endfor%}
					</select>
				</td>
			</tr>
			<tr>
				<td id="passid" style="display:block">Password : </td><td><input type="password" name="pass" id="pass" value=""><br/><span style="font-size:9px;color:#999">Passwords must be between 8 and 15 characters long and include at least one lowercase letter, one uppercase letter, one numeric digit, and one special character.</span></td>
			</tr>
			<tr>
				<td id="repassid" style="display:block">Retype Password : </td><td><input type="password" name="re-pass" id="re-pass" value=""></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td id="repassid" style="display:block" ><input type="button" name="pasword_change" value="submit" onclick="change_password()"></td>
			</tr>
		</table>
	</div>
	</form>  
</body>  
</html>