<html>
<title>Beyond Trust Credentials Manager - NWN Carousel</title>
<style type="text/css">
	.txtfield{
		border:1px solid #999;
		padding:5px;
		width:100%;
	}
	.btnfield{
		border:1px solid #999;
		padding:10px;
		background-color:#1E4F87;
		color:#fff;
		border-radius:10px
	}
	table{
		padding:0px;
		border:1px solid #1E4F87;
	}
	th{
		background-color:#1E4F87;
		color:#fff;
		padding:10px;
		width:100%
	}
	table tr td{
		padding:10px;
	}
</style>
<head>
	<script type="text/javascript">
		function change_password(){
			pass=document.getElementById('pass').value;
			repass=document.getElementById('re-pass').value;
			var decimal=  /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/;
			if(pass!="" && repass!=""){
				if(pass==repass){
					if(pass.match(decimal)) 
					{ 						
						
					}else{ 
						alert('Invalid Password');
						return false;
					}
				}else{
					alert("Both password and Retype password must be same");
					return false;
				}
			}else{
				alert("Password fields must be filled");
				return false;
			}
			document.getElementById("account_cred").submit();
		}
	</script>
</head>
<body>  
	<form action = "http://localhost:5000/account_group" method = "post" id="account_cred" name="account_cred"> 
	<div style=" text-align:center;width:100%;margin-top:50px">
		<table id="demo" width="75%" border="0" cellpadding="0" cellspacing="0" style="margin:0px auto;">
			<th colspan="2">Manage Vault Credentials - Beyond Trust</th>
			<tr>
				<td width="30%" align="right">Account Group {{gid}} {{passwd}}</td>
				<td width="70%">
					<select name="group_account" onchange="this.form.submit()" class="txtfield">
					<option value="">Select Account Group</option>
					{% for row in range(2, sheet.max_row + 1) %} 
					<option value="{{ sheet.cell(row, 1).value }}" {% if gid == sheet.cell(row, 1).value %} selected="selected" {% endif %}>{{ sheet.cell(row, 2).value }}</option>
					{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td align="right">Account {{glid}}</td>
				<td>
					<select name="group_account_list" onchange="this.form.submit()" class="txtfield">
						<option value="">Select Account </option>
						<!-- For loop logic of jinja template -->
						{%for i in range(0, len)%}
						{% set item1, item2 = ulstr[i].split(',') %}
							<option value="{{item1}}" {% if glid == item1 %} selected="selected" {% endif %}>{{ item2}}</option>
						{%endfor%}
					</select>
				</td>
			</tr>
			<tr>
				<td id="passid" style="display:block" align="right">Password: </td><td><input type="password" name="pass" id="pass" value="" class="txtfield"><br/><span style="font-size:9px;color:#999">Passwords must be between 8 and 15 characters long and include at least one lowercase letter, one uppercase letter, one numeric digit, and one special character.</span></td>
			</tr>
			<tr>
				<td id="repassid" style="display:block" align="right">Retype Password: </td><td><input type="password" name="re-pass" id="re-pass" value="" class="txtfield"></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td id="repassid" style="display:block" ><input type="button" name="pasword_change" value="Check In and Change Password" onclick="change_password()" class="btnfield"></td>
			</tr>
		</table>
	</div>
	</form>  
</body>  
</html>