<html>
<title>Beyond Trust Credentials Manager - NWN Carousel</title>
<style type="text/css">
	.txtfield{
		border:1px solid #999;
		padding:5px;
		width:100%;
	}
	.btnfield{
		border:1px solid #999;
		padding:10px;
		background-color:#1E4F87;
		color:#fff;
		border-radius:10px
	}
	table{
		padding:0px;
		border:1px solid #1E4F87;
	}
	th{
		background-color:#1E4F87;
		color:#fff;
		padding:10px;
		width:100%
	}
	table tr td{
		padding:10px;
	}
</style>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript">
		
		function change_password(){
			pass=document.getElementById('pass').value;
			repass=document.getElementById('re-pass').value;
			var decimal=  /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/;
			if(pass!="" && repass!=""){
				if(pass==repass){
					if(pass.match(decimal)) 
					{ 						
						
					}else{ 
						alert('Invalid Password');
						return false;
					}
				}else{
					alert("Both password and Retype password must be same");
					return false;
				}
			}else{
				alert("Password fields must be filled");
				return false;
			}
			document.getElementById("action").value="password_reset";
			document.getElementById("account_cred").submit();
		}
		function force_check_in(){
			document.getElementById("action").value="checkin";
			document.getElementById("account_cred").submit();
		}
	</script>
</head>
<body>  
	<form action = "http://localhost:5000/account_group" method = "post" id="account_cred" name="account_cred"> 
	<div style=" text-align:center;width:100%;margin-top:50px">
		<table id="demo" width="75%" border="0" cellpadding="0" cellspacing="0" style="margin:0px auto;">
			<th colspan="2">Manage Vault Credentials - Beyond Trust</th>
			<tr><td colspan="2"  align="center" {% if status1!="Success" %} style="font:weight:bold;color:red" {% else %} style="color:green"{% endif %}>{{status1_msg}}</td></tr>
			<tr><td colspan="2" align="center" {% if status2!="Success" %} style="font:weight:bold;color:red" {% else %} style="color:green"{% endif %}>{{status2_msg}}</td></tr>
			<tr>
				<td width="30%" align="right">Account Group </td>
				<td width="70%">
					<select name="group_account" id="group_account" onchange="this.form.submit()" class="txtfield">
				    <option value="">Select Account Group </option>
					{% for row in range(2, sheet.max_row + 1) %} 
					<option value="{{ sheet.cell(row, 1).value }}" {% if gid == sheet.cell(row, 1).value %} selected="selected" {% endif %}>{{ sheet.cell(row, 2).value }}</option>
					{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td></td>
				<td><a href="#" id="retrieve_group"> Get the latest Group data </a> <span id='wordResult'style="color:green;font-weight:bold;padding-left:10px"></span></td>
			</tr>
			<tr>
				<td align="right">Account </td>
				<td>
					<select name="group_account_list" onchange="this.form.submit()" class="txtfield">
						<option value="">Select Account List </option>
						<!-- For loop logic of jinja template -->						
							{% for key, value in ulstr.items() %}
								<option value="{{key}}" {% if glid == key %} selected="selected" {% endif %}>{{ value}}</option>
							{%endfor%}
					</select>
				</td>
			</tr>
			<tr>
				<td id="passid" style="display:block" align="right">Password: </td><td><input type="password" name="pass" id="pass" value="" class="txtfield"><br/><span style="font-size:9px;color:#999">Passwords must be between 8 and 15 characters long and include at least one lowercase letter, one uppercase letter, one numeric digit, and one special character.</span></td>
			</tr>
			<tr>
				<td id="repassid" style="display:block" align="right">Retype Password: </td><td><input type="password" name="re-pass" id="re-pass" value="" class="txtfield"></td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td id="repassid" style="display:block" ><input type="button" name="pasword_change" value="Check In and Change Password" onclick="change_password()" class="btnfield">
				<input type="button" name="check_in" value="Force Check In" onclick="force_check_in()" class="btnfield"></td>
			</tr>
						
		</table>
	</div>
	<input type="hidden" name="action" id="action" value="">
	</form>  
</body> 
  <script>
    $(document).ready(function() {
       $('#retrieve_group').click(function(){
		   $("#wordResult").html("Updating the Account Group List");
           $.ajax({
           url: "/generate_group/",
           type: "get",
           success: function(response) {
				$("#wordResult").html("Account Group is Updated Succesfully");
				setTimeout(function() {
				location.reload();
				}, 5000);
          },
          error: function(xhr) {
			alert("here");
			alert(xhr.status);
            //Do Something to handle error
         }
         });
       });
    });	
  </script> 
</html>